html {
    height: 100%;
}

body {
    font-family: Avenir Next, Open Sans, Arial;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body b {
    color: beige;
}

.macbook {
    background-image: initial;
    background: url(../images/macbook.jpg) no-repeat;
    background-size: cover;
    height: 950px;
    background-position: center;
}

.moreinfo {
    margin-top: 40px;
    font-size: 32px;
    color: white;
}

.moreinfo img {
    margin-top: 30px;
    width: 90px;
}

.portfolio-link {
    color: white;
}

.portfolio-link a {
    color: white;
}

.text {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
}

.small {
    font-size: 18px;
}

.smallest {
    font-size: 14px;
    padding-bottom: 15px;
}

a {
    color: beige;
}

.container {
    width: 860px;
    text-align: center;
    
    position:absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.column {
    float: left;
    width: 20%;
}

.contributions {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, azure, gray); /* Standard syntax */
}

.hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 90px;
    height: 90px;
    -webkit-transform:translate3d(0,0,0);
}
.hover img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
